@charset "utf-8";

/* 
Base style 
*/
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

label, input, textarea, select, button {
    cursor: pointer;
}

/* 
grid 
*/
.grid {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.grid-item {
    list-style: none;
}
.grid-col-2 > .grid-item {
    width: 50%;
}
.grid-col-3 > .grid-item {
    width: 33%;
}
.grid-col-4 > .grid-item {
    width: 25%;
}

/* 
section 
*/
.section {
    padding: 30px 15px ;
}
.section-secondary {
    background-color: #efefef;
}
.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px 0;
}
.section-button {
    margin-top: 40px;
    text-align: center;
}

/* 
hero 
*/
.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero > strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 120px;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.hero > video {
    position: absolute;
    width: auto;
    height: 100%;
    z-index: 1;
}

/* 
about 
*/
.about {
    margin: 0;
    display: flex;
}

/* .about-image {} */

.about-caption {
    padding-left: 15px;

}
.about-headline {
    margin: 0 0 20px;
    font-size: 30px;
}

/* .about-discription {} */

/* 
feature 
*/
.feature {
    text-align: center;
    padding: 15px;
}

.feature-headline {
    font-weight: bold;
    margin: 0 0 20px;
}

.feature-image {
    margin: 0 0 20px;
}

.feature-description {
    text-align: left;
    margin: 0;
}

/* 
card 
*/
.card { 
    padding: 10px;
}
.card-link { 
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
}
.card-link:hover {
    background-color: #efefef;
    transition: background-color 0.25s;
} 

.card-label { 
    position: absolute;
    left: 0;
    top: 0;
    background-color: #999;
    color: #fff;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
}
.card-image { 
    width: 100%;
    height: auto;
}
.card-info { 
    padding: 5px 10px;
}

/* .card-time{ } */

.card-headline { 
    margin: 0;
}
.card-discriprtion { 
    margin: 0;
}

/* 
avator 
*/
.avator { 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding: 10px;
}
.avator-name { 
    font-weight: bold;
    padding-left: 10px;
}
.avator-image { 
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}

/* 
button 
*/
.button {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #bbb;
    border: none;
}

.button:hover {
    background-color: black;
}

.button:active {
    box-shadow: none;
    position:relative;
    left: 5px;
    top: 5px;
}

.button-submission {
    background-color: #92d3ca;
}

.button-submission:hover {
    background-color: #58d5c4;
}

.button-submission:active {
    box-shadow: none;
    position:relative;
    left: 5px;
    top: 5px;
}

/* 
.select, .input, .radio, .textarea 
*/
.select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}
.input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}
.radio {
    margin: 0 10px;
}
.textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
    min-height: 100px;
}

/* 
form 
*/ 
/* .form {} */
.form-table {
    margin: 0 auto;
}

.form-table th {
    padding: 10px;
    text-align: left;
}

.form-table td {
    padding: 10px;
}

.form-button {
    margin-top: 10px;
    text-align: center;
}

/* 
works 
*/
.works {
    margin: 40px 0;
    padding: 20px;
    text-align: center;
}

.works > img {
    margin: 0 15px;
}

/* 
footer 
*/
.footer {
    background-color: #333;
    color: white;

}
.footer-map {
    margin: 0;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-map > iframe {
    width: 60%;
}
.footer-mapinfo {
    width: 40%;
    padding: 15px;
}

.footer-maplogo {
    font-size: 35px;
    font-weight: bold;
}
.footer-maplogo svg {
    fill: transparent;
    
}
.footer-mapaddress {
    
    font-style: normal;
}
.footer-mapaddress > a {
    color: white;
}
.footer-line {
    border-color: #444;

}
.footer-copy {
    display: block;
    text-align: center;
    padding: 10px;
}
